<strong>OLÁ!</strong>

Sou o <strong>@CompUvaBot</strong>, e estou aqui para auxiliar a todos os membros do <strong>UVA-COMP</strong>, o grupo de <strong>alunos de Computação da UVA</strong>!

Segue uma lista com os <strong>comandos</strong> que você pode enviar a mim:

<strong>/help@CompUvaBot</strong>
&#8226; Exibe este conteúdo de ajuda.

<strong>/readme@CompUvaBot</strong>
&#8226; Exibe um resumo das informações e links mais importantes (Website, Google Drive, etc).

<strong>/grupos@CompUvaBot</strong>
&#8226; Exibe uma lista de todos os grupos que fazem parte do UVA-COMP.

<strong>/emails@CompUvaBot</strong>
&#8226; Exibe uma lista de contatos conhecidos (professores, coordenadores, representantes, etc.).
&#8226; Opcionalmente, você pode <strong>efetuar uma busca por contatos específicos</strong>; basta passar partes do nome (incluindo sobrenomes) <strong>após o comando</strong>.
&#8226; A pesquisa é <em>case-insensitive</em>, ignora acentos e é realizada palavra-a-palavra.

<strong>/temas@CompUvaBot</strong>
&#8226; Exibe uma lista com os temas e linhas de pesquisa conhecidos. Possivelmente, há um professor orientador para o tema em questão.
&#8226; Um tema pode ter subtemas; nestes casos, para listar o tema, execute o comando novamente com o nome do tema-pai.
&#8226; O <em>matching</em> do nome do tema-pai é <strong>exato</strong>.

<strong>EXEMPLOS</strong>

<code>/emails Fernando</code>
&#8226; Exibe todos os contatos que tenham <code>Fernando</code> no nome.
